<?xml version="1.0" encoding="UTF-8"?>
<widget	xmlns	=	"http://www.w3.org/ns/widgets"
		xmlns:gap	=	"http://phonegap.com/ns/1.0"
		id	=	"com.createdeep.clockgirl"
		version	=	"1.0.0">

	<name>THClockGirl</name>
	<description>
	Thailand Clock Girl
	</description>
	
	<author href="http://www.cvs.in.th" email="admin@cvs.in.th">
	Phiphat Phoemsuk
	</author>

<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
<icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
<gap:splash src="splash/ios/Default.png" width="320" height="480" />
<gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
<gap:splash src="splash/ios/Default_iphone5.png" width="640" height="1136" />
<gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
<gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />
<preference name="target-device" value="universal" />
<preference name="orientation" value="portrait" />
<preference name="fullscreen" value="true" />
<preference name="webviewbounce" value="false" />
<preference name="phonegap-version" value="2.5.0" />
<gap:plugin name="FacebookConnect"><param name="APP_ID" value="000000000000000" /></gap:plugin>
</widget>